:root {
	--win95-bg-color: #297F81;
	--site-bg: #ffffff;
	--site-fg: black;

	/* --site-bg: #363636;
	--site-fg: #ffffff; */
}

@font-face {
	font-family: "Space Mono";
	font-style: normal;
	src: url("./font/SpaceMono-Regular.ttf") format("truetype");
}

body {
	font-family: 'Space Mono', monospace;
	/* background-color: var(--win95-bg-color); */
	/* background-image: url("/static/img/green.gif"); */
	color: var(--site-fg);
	margin-top: 3em;
	margin-left: 5em;
	font-size: 1.2em;
}

nav li {
	float: left;
	list-style: none;
	margin-left: 10px;
}

nav li a {
	text-decoration: none;
	color: inherit;
}

main {
	margin-right: auto;
	margin-left: auto;
	max-width: 850px;
}

.login-panel {
	display: none;
	float: right;
}

.welcome-banner {
	width: 30%;
}