@import "./styles/theme.css";
@import "./styles/font.css";

main {
	margin-right: auto;
	margin-left: auto;

	/* max-width: 750px; */
	max-width: max-content;
}

a:visited {
	text-decoration: none;
}

.welcome-banner {
	width: 30%;
}

.settings {
	margin-bottom: 1.15em;
}

.cards a {
	/* Hide the underlines for 88x31 cards */
	text-decoration: none;
}

.dark-theme a {
	color: rgb(230, 230, 230);
}

main ul li {
	padding-top: 4px;
	padding-bottom: 4px;

	/* border-top: 8px; */
	/* padding: .8em; */

	/* padding-top: .8em;
	padding-bottom: .8em;
	margin-top: .8em;
	margin-bottom: .8em; */
}