# Notes
/README*
/TODO*
/NOTES*

# Config
/config/env/
/config/postgres/
/Dockerfile
/docker-compose.*
/Procfile
/Makefile
/.vscode/
/.env
/.dockerignore
/.gitignore

# Data
/.git/
/node_modules/
/build/
/db/data/
/.testing/
/.pytest_cache
.cache/
**/__pycache__

# Scripts
/scripts/requests.http
/scripts/*.sql
