# Notes
README*
TODO*
NOTES*

# Config
/config/env/
/config/postgres/
/config/docker/
/config/redis/Dockerfile
/config/registry/Dockerfile
/Dockerfile
/Procfile
/Makefile
/.vscode/
/.env
/.dockerignore
/.gitignore
config/*.md
config/NOTES
docker-compose.*

# Data
/.git/
/node_modules/
/build/
/db/data/
/.testing/
/.pytest_cache
/.cache
/bin/
**/__pycache__
terraform/.terraform/
files/*.tar.gz
files/*.tar
files/*.gz

# Scripts
/scripts/requests.http
/scripts/*.sql
/scripts/buildx.sh
/scripts/psql.sh
/scripts/functional.sh
/scripts/certs.sh
/scripts/mockgen.sh
/scripts/install-tools.sh
/scripts/diagrams.sh
/scripts/infra/
/scripts/heroku-api.sh
/scripts/build.sh
nslookup.sh
dev.sh
deploy.sh

# Want these
!/config/docker/freeradius/rules
!/config/docker/freeradius/debian
