# Notes
README*
TODO*
NOTES*

# Config
/config/env/
/config/postgres/
/config/docker/
/Dockerfile
/Procfile
/Makefile
/.vscode/
/.env
/.dockerignore
/.gitignore
docker-compose.*

# Data
/.git/
/node_modules/
/build/
/db/data/
/.testing/
/.pytest_cache
/.cache/
**/__pycache__

# Scripts
/scripts/requests.http
/scripts/*.sql
