# Build
/bin/
/node_modules/
*.log
build
test-cover
static/bootstrap-4.3.1-dist
!scripts/build.js

# Config
config.json
.vscode
.env

# Testing
/tests/
#/scripts/
/inspiration/
tests/*
/scripts/*.sql
/scripts/psql.sh

# Tools
NOTES
TODO

# Dev
*.crt
*.key
*.pub
