# Build
/bin/
/node_modules/
*.log
build
test-cover
static/bootstrap-4.3.1-dist

# Config
config.json
.vscode
.env

# Testing
/tests/
tests/*
/inspiration/

# Images
*.ico

# Tools
NOTES
TODO

# Dev
*.crt
*.key
