# Build
/bin/
/node_modules/
*.log
build
test-cover
static/bootstrap-4.3.1-dist

# Config
config.json
.vscode
.env

# Testing
/tests/
/scripts/
/inspiration/
tests/*

# Tools
NOTES
TODO

# Dev
*.crt
*.key
