:root {
	--win95-bg-color: #297F81;
	--hacker-green: #20c20e;

	--theme-dark-bg: black;
	--theme-dark-fg: var(--hacker-green);
	--theme-light-bg: white;
	--theme-light-fg: black;
}

body {
	color: var(--theme-light-fg);
	background-color: var(--theme-light-bg);
	transition: background 0.4s linear;
}
body.dark-theme {
	color: var(--theme-dark-fg);
	background-color: var(--theme-dark-bg);
}

@media (prefers-color-scheme: dark) {
	body {
		color: var(--theme-dark-fg);
		background-color: var(--theme-dark-bg);
	}
	body.light-theme {
		color: var(--theme-light-fg);
		background-color: var(--theme-light-bg);
	}
}

body {
	margin-right: auto;
	margin-left: auto;
	max-width: 750px;
}

body.dark-theme a {
	color: rgb(220, 220, 220);
}