---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Name }}
spec:
  selector:
    matchLabels:
      app: {{ .Name }}
  template:
    metadata:
      labels:
        app: {{ .Name }}
    spec:
      containers:
        - name: {{ .Name }}
          image: {{ .Image.Name }}:{{ .Image.Version }}
          imagePullPolicy: Always
          {{- if .Args }}
          args:
            {{- range .Args}}
            - {{ . }}
            {{- end }}
          {{- end }}
          {{- if .Ports }}
          ports:
          {{- range .Ports }}
            - name: {{ .Type }}
              containerPort: {{ .Port | printf "%d" }}
          {{- end }}
          {{- end }}
          {{- if .Resources }}
          resources:
            {{- if .Resources.Limits }}
            limits:
              memory: {{ .Resources.Limits.Memory }}
              cpu: {{ .Resources.Limits.CPU }}
            {{- end }}
            requests:
              {{- if .Resources.Requests }}
              memory: {{ .Resources.Requests.Memory }}
              cpu: {{ .Resources.Requests.CPU }}
              {{- end }}
          {{- end }}
          {{- if or .Config .Secrets }}
          envFrom:
            - configMapRef:
                name: {{ .ConfigMapName }}
            - secretRef:
                name: {{ .SecretName }}
          {{- end }}
