apiVersion: apps/v1
kind: Deployment
metadata:
  name: grafana
spec:
  selector:
    matchLabels:
      app: grafana
  template:
    metadata:
      labels:
        app: grafana
    spec:
      containers:
      - name: grafana
        image: 10.0.0.11:5000/harrybrwn/grafana:latest
        imagePullPolicy: IfNotPresent
        resources:
          requests:
            cpu: "100m"
            memory: "64Mi"
          limits:
            memory: "128Mi"
            cpu: "250m"
        ports:
        - containerPort: 3000
          name: http
        envFrom:
          - configMapRef: { name: grafana-env }
          - secretRef: { name: grafana-env }
        volumeMounts:
          - name: provisioning-datasources
            mountPath: /etc/grafana/provisioning/datasources/
          - mountPath: /usr/share/grafana/tls
            name: tls
            readOnly: true
      volumes:
        - name: provisioning-datasources
          configMap:
            name: grafana-config
            items:
              - { key: datasources.yml, path: datasources.yml }
        - name: tls
          secret:
            secretName: hrry-dev-tls
            optional: false
