<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <main>
      <header>
        <nav>
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
          </ul>
        </nav>
        <div class="theme-toggle toggle-switch">
          <label class="theme-toggle-label" for="theme-toggle">
            <input
              type="checkbox"
              class="theme-toggle-checkbox"
              id="theme-toggle"
            />
            <span class="theme-toggle-slider"></span>
          </label>
        </div>
        <center>
          <h1><%= title %></h1>
        </center>
      </header>
      <section>
        <div id="bookmarks" class="bookmarks"></div>
      </section>
    </main>
  </body>
</html>
