@import "~/frontend/styles/font.css";
@import "~/frontend/components/win95.css";
@import "~/frontend/components/toggle.css";

body {
	transition: background 0.2s linear;
}

a:visited {
	text-decoration: none;
}

.welcome-banner {
	width: 45%;
}

.links {
	columns: 2;
}

.settings {
	margin-bottom: 1.15em;
}

.cards a {
	/* Hide the underlines for 88x31 cards */
	text-decoration: none;
}

main ul li {
	padding-top: 4px;
	padding-bottom: 4px;
}

.modal {
	position: absolute;
	z-index: 100;
	overflow: auto;
}

.login-panel {
	top: 27%;
	left: 50%;
	float: left;
	width: 18em;
	text-align: center;
	transform: translate(-50%, -50%);
}

.login-panel .win95-window-body p {
	margin-top: .6em;
	margin-bottom: .6em;
}

body.dark-theme .login-panel {
	box-shadow: 5px 5px var(--win95-bg-color);
}

body.light-theme .login-panel {
	box-shadow: 5px 5px #2c2c2c;
}

body {
	padding-left: 1em;
	padding-right: 1em;
}

.help-window {
	float: left;
	top: 50%;
	left: 50%;
	width: 32em;
	max-height: 16em;
	transform: translate(-50%, -50%);
}

body.dark-theme .win95-window-body p,th,td {
	color: black;
}

.help-window .win95-window-head {
	position: fixed;
}

@media only screen and (max-width: 600px) {
	.help-window {
		width: 18em;
	}
}

.help-window .win95-window-body {
	margin: 0px 2em 0.8em 2em;
}

/* Custom theme Toggle Switch */

/* * {box-sizing: border-box;}
.theme-toggle-checkbox {
	opacity: 0;
	position: absolute;
}
.theme-toggle-label {
	background-color: green;
	width: 50px;
	height: 26px;
	border-radius: 50px;
	position: relative;
	padding: 5px;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.fa-moon {color: #f1c40f;}
.fa-sun {color: #f39c12;}
.theme-toggle-label .theme-toggle-ball {
	background-color: red;
	width: 22px;
	height: 22px;
	position: absolute;
	left: 2px;
	top: 2px;
	border-radius: 50%;
	transition: transform 0.2s linear;
}
.theme-toggle-checkbox + .theme-toggle-label .theme-toggle-ball {
	transform: translateX(24px);
} */