a:visited {
	text-decoration: none;
}

.welcome-banner {
	width: 45%;
}

.links {
	columns: 2;
}

.settings {
	margin-bottom: 1.15em;
}

.cards a {
	/* Hide the underlines for 88x31 cards */
	text-decoration: none;
}

main ul li {
	padding-top: 4px;
	padding-bottom: 4px;
}

.modal {
	position: absolute;
	z-index: 100;
	overflow: auto;
}

.login-panel {
	top: 27%;
	left: 50%;
	float: left;
	width: 18em;
	text-align: center;
	transform: translate(-50%, -50%);
}

.login-panel .win95-window-body p {
	margin-top: .6em;
	margin-bottom: .6em;
}

body.dark-theme .login-panel {
	box-shadow: 5px 5px var(--win95-bg-color);
}

body.light-theme .login-panel {
	box-shadow: 5px 5px #2c2c2c;
}

body {
	padding-left: 1em;
	padding-right: 1em;
}

.help-window {
	float: left;
	top: 50%;
	left: 50%;
	width: 32em;
	max-height: 16em;
	transform: translate(-50%, -50%);
}

body.dark-theme .win95-window-body p,th,td {
	color: black;
}

.help-window .win95-window-head {
	position: fixed;
}

@media only screen and (max-width: 600px) {
	.help-window {
		width: 18em;
	}
}

.help-window .win95-window-body {
	margin: 0px 2em 0.8em 2em;
}

/* Windows 95 Window Panel */

.win95-window {
	background-color: #c0c0c0;
	border-width: 0.15em;
	border-color: #d8d8d8 #7a7a7a #7a7a7a #d8d8d8;
	border-style: solid;
}

.win95-window-head {
	background-color: #000080;
	padding-left: 5px;
	width: calc(100% - 5px); /* Subtract the padding size */
	height: 18px;
	margin: 0px;
}

.win95-window-head p {
	color: white;
	float: left;
	margin: 0;
	display: block;
	font-size: 0.7em;
}

.win95-window-head button {
	float: right;
	text-align: center;
	border-color: #d8d8d8 #7a7a7a #7a7a7a #d8d8d8;
	margin-top: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    margin-left: 0px;
    padding: 0;
	width: 14px;
    height: 14px;
	border-width: 1px;
	font-size: .5em;
    font-weight: bold;
}
