main {
	margin-right: auto;
	margin-left: auto;

	/* max-width: 750px; */
	max-width: max-content;
}

a:visited {
	text-decoration: none;
}

.welcome-banner {
	width: 30%;
}

.settings {
	margin-bottom: 1.15em;
}

.cards a {
	/* Hide the underlines for 88x31 cards */
	text-decoration: none;
}

body.dark-theme a {
	color: rgb(220, 220, 220);
}

main ul li {
	padding-top: 4px;
	padding-bottom: 4px;
}